.signature-pad--body {
  position: relative;

  /* width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #f4f4f4; */
}

.signature-pad--body
canvas {
  position: relative;
  left: 0;
  top: 0;
  width: 250px;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
  border: 1px solid #f4f4f4;
}

.signature-pad--actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

#prb {
  /* display: none; */
  position: relative;
  width:1125px;
  height:1456px;
  top: 0;
  left: 0;
}
#template {
  position: relative;
  top: 0;
  left: 0;
}
#signature {
  position: absolute;
  width: 250px;
  height: 100px;
  top: 900px;
  left: 550px;
}
#fullName-fill {
  position: absolute;
  top: 560px;
  left: 500px;
}
#fullName-2-fill {
  position: absolute;
  top: 1020px;
  left: 560px;
}
#nid-fill {
  position: absolute;
  top: 640px;
  left: 500px;
}
#location-fill {
  position: absolute;
  top: 410px;
  left: 730px;
}
#day-fill {
  position: absolute;
  top: 460px;
  left: 610px;
}
#month-fill{
  position: absolute;
  top: 460px;
  left: 730px;
}

